---
import ArrowIcon from '@assets/icons/arrow.svg';
import BoltIcon from '@assets/icons/bolt.svg';
import ChatBubbleIcon from '@assets/icons/chat-bubble.svg';
import CodeIcon from '@assets/icons/code.svg';
import FireIcon from '@assets/icons/fire.svg';
import CardCTA from '@components/CardCTA.astro';
import FeatureEntry from '@components/FeatureEntry.astro';
import Section from '@components/Section.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout pageTitle='Home'>
    <Section
        sectionName='hello'
        class=`h-screen bg-[url(../assets/mountain.jpg)] bg-cover bg-fixed`>
        <div class='flex flex-col space-y-32'>
            <h1
                class='text-7xl text-foreground font-semibold mt-[10vh] text-center bg-clip-text'
                style='text-shadow: 0 0 1rem white;'>
                Are you ready?
            </h1>
            <ArrowIcon
                class='h-[10vh] text-foreground animate-bounce'
                style='filter: drop-shadow(0 0 1rem white);'
            />
        </div>
    </Section>
    <Section
        sectionName='options'
        class='bg-accent-foreground flex md:min-h-[70vh] justify-center'>
        <div
            class='w-full flex my-12 flex-wrap justify-around items-center gap-24 lg:mx-12'>
            <CardCTA
                title='Option #1'
                subtitle='This is the first option.'
                bodyText='Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                class='h-fit w-[80vw] lg:w-[30vw] 2xl:w-[20vw]'
            />
            <CardCTA
                title='Option #2'
                subtitle='This is the third option.'
                bodyText='Aenean commodo mauris id leoaliquet ornare. Sed accumsan pretium nulla vel tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                class='h-fit w-[80vw] lg:w-[30vw] 2xl:w-[20vw]'
            />
            <CardCTA
                title='Option #3'
                subtitle='This is the second option.'
                bodyText='Sed accumsan pretium nulla vel tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                class='h-fit w-[80vw] lg:w-[30vw] 2xl:w-[20vw]'
            />
            <CardCTA
                title='Option #4'
                subtitle='This is the second option.'
                bodyText='Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                class='h-fit w-[80vw] lg:w-[30vw] 2xl:w-[20vw]'
            />
        </div>
    </Section>
    <Section
        sectionName='features'
        class='bg-accent flex justify-center md:min-h-[50vh]'>
        <div
            class='w-full flex flex-col my-12 mx-8 gap-12 flex-wrap justify-center content-center md:flex-row md:mx-[15vw] lg:gap-x-32'>
            <FeatureEntry
                class='xl:w-[25vw]'
                header='Lorem ipsum'
                description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo mauris id leoaliquet ornare. Sed accumsan pretium nulla, Aenean commodo mauris id leoaliquet ornare. Sed accumsan pretium nulla vel tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae. Aenean commodo mauris id leoaliquet ornare. Sed accumsan pretium nulla vel tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                iconSrc={CodeIcon.src}
            />
            <FeatureEntry
                class='xl:w-[25vw]'
                header='Ipsum lorem'
                description='Aenean commodo mauris id leoaliquet ornare. Sed accumsan pretium nulla vel tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                iconSrc={FireIcon.src}
            />
            <FeatureEntry
                class='xl:w-[25vw]'
                header='Vestibulum ante'
                description='Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                iconSrc={BoltIcon.src}
            />
            <FeatureEntry
                class='xl:w-[25vw]'
                header='Faucibus'
                description='Sed accumsan pretium nulla vel tempor. Vestibulum ante ipsum primis in faucibus orci luctus et ultricesposuere cubilia curae'
                iconSrc={ChatBubbleIcon.src}
            />
        </div>
    </Section>
</Layout>
