---
interface Props {
    href: string;
    class?: string;
}

const { href, class: classname } = Astro.props;
const isSelfPage = Astro.url.pathname.includes(href);
---

<a
    href={href}
    class=`hover:underline text-lg tracking-wide ${isSelfPage ? 'font-bold' : ''} ${classname ? classname : ''}`>
    <slot />
</a>
