---
import { Image } from 'astro:assets';

interface Props {
    icon: ImageMetadata;
    alt: string;
    href?: string;
    class?: string;
}

const { alt, icon, href, class: className } = Astro.props;
---

<a href={href} class={`hover:cursor-pointer ${className}`}>
    <Image src={icon} alt={alt} class='w-[inherit] h-[inherit]' />
</a>
