---
export const prerender = false;

import ChevronDown from '@assets/icons/chevron-down.svg';
import Layout from '../../layouts/Layout.astro';
import ProjectSection from './_ProjectSection.astro';

import { GET } from '@api/projects';
import type { Project } from '@baseTypes/Project';

let response = await GET(Astro);
const projects: Project[] = await response.json();

const images = import.meta.glob<{ default: ImageMetadata }>(
    '/src/assets/*.{jpeg,jpg,png,gif}',
    { eager: true }
);
---

<Layout pageTitle='Work'>
    <div
        class='flex flex-wrap bg-foreground px-[10vw] h-screen content-center text-center gap-[10vh] lg:gap-24 lg:text-left lg:content-baseline lg:px-32'>
        <h1
            class='w-full text-9xl font-semibold text-accent lg:mt-64'
            style='color: var(--accent); text-shadow: 0 0 0.5rem var(--accent);'>
            Work
        </h1>
        <p
            class='w-full text-2xl text-accent xl:underline xl:decoration-4 xl:underline-offset-12 lg:text-4xl'>
            Here is a showcase of some of my <span class='text-amber-500/90'
                >past</span
            >, <span class='text-amber-600/90'>present</span> and <span
                class='text-amber-700/90'>future</span
            > projects.
        </p>
        <div
            class='w-full flex justify-center pt-[12vh] lg:pt-[20vh] animate-pulse'>
            <ChevronDown class='size-18 text-accent stroke-2 lg:size-24' />
        </div>
    </div>

    {
        projects.map((project, index) => (
            <ProjectSection
                project={{
                    ...project,
                    image: images[project.image].default.src
                }}
                index={index}
            />
        ))
    }
</Layout>
